.photo-scroll-container {
  width: 1218px;
  display: flex;
  margin: auto;
}
.all-images {
  width: 1200px;
  overflow: hidden;
  position: relative;
}

.scroll-arrow {
  width: 70px;
  display: table;
  height: 325px;
  text-align: center;
  font-size: 90px;
  color: #f1eded;
}

.scroll-arrow:hover {
  cursor: pointer;
  color: lightgray;
}

.angles {
  display: table-cell;
  vertical-align: middle;
}

.radio-containter-master {
  width: 1218px;
  margin: auto;
  margin-top: 20px;
}

.radio-container {
  display: flex;
  justify-content: space-between;
  width: 146px;
  margin: auto;
  -webkit-padding-start: 0;
  -webkit-tap-highlight-color:  rgba(255, 255, 255, 0); 
}

.radio {
  height: 13px;
  width: 13px;
  border: 1px solid lightgray;
  border-radius: 50%;
}

.radio:hover {
  cursor: pointer;
}

.checked {
  height: 13px;
  width: 13px;
  border: 1px solid lightgray;
  border-radius: 50%;
  background: black;
}


@media only screen and (max-width: 1200px) {
  .photo-scroll-container {
    width: 992px;
  }
  .swipable {
    transform: scale(.9);
  }
  .all-images {
    width: 992px;
  }
  .radio-containter-master {
    width: 100%;
    margin: auto;
  }
  .scroll-arrow {
    height: 273px;
  }
}






@media only screen and (max-width: 992px) {
  .photo-scroll-container {
    height: 660px;

  }
  .radio-containter-master {
    width: 100%;
    margin: auto;
  }

  .all-images {
    margin:auto;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
  }

  .swipable {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
  }

  .scroll-arrow {
    height: 100%;
  }
}

@media only screen and (max-width: 768px) {
  .photo-scroll-container {
  }

  .scroll-arrow {
    display: none;
  }
}

@media only screen and (max-width: 480px) {
  .photo-scroll-container {
  }

  .all-images {
    height: 83%;
  }

  .radio-containter-master {
    width: 100%;
    margin: auto;
    margin-top: -35px;
  }

  .title {
    margin-bottom: -60px;
    margin-top: 15px;
    font-size: 20px;
  }
}

@media only screen and (max-width: 320px) {
  .photo-scroll-container {
    width: 100%;
    height: 555px
  }

  .radio-containter-master {
    margin-top: -20px;
  }

  .title {
    margin-bottom: -72px;
  }

}
