.photo-list-item {
  list-style: none;
  height: 325px;
  margin-left: 10px;
}

.photo-list-item img {
  height: 325px;
  width: 257px;
  object-fit: cover;
}

.photo-ul {
  -webkit-padding-start: 0px;
  display: flex;
  justify-content: space-between;
  max-width: 1117px;
  position: relative;
  overflow: hidden;
}

@keyframes rightSlideIn {
  0% {
    margin-left: 100%;
  }
  100% {
    margin-left: 0%;
  }
}

@keyframes rightSlideOut {
  0% {
    margin-left: 100%;
  }
  100% {
    margin-left: 0%;
  }
}

@keyframes leftSlideIn {
  0% {
    margin-left: 100%;
  }
  100% {
    margin-left: 0%;
  }
}

@keyframes leftSlideOut {
  0% {
    margin-left: 100%;
  }
  100% {
    margin-left: 0%;
  }
}

.photo-ul {
  animation-duration: .5s;
  animation-name: rightSlide;
}
