.photo-list-item {
  list-style: none;
  height: 325px;
  margin-left: 15px;
}

.photo-list-item img {
  height: 325px;
  width: 257px;
  object-fit: cover;
}

.photo-ul {
  -webkit-padding-start: 0px;
  display: flex;
  width: 1218px;
  position: absolute;

}

.photo-ul li:first-child {
  margin-left: 0px;
}

.slideInRight {
  animation-duration: .5s;
  animation-name: rightSlideIn;
}

.slideOutRight {
  animation-duration: .5s;
  animation-name: rightSlideOut;
}

.slideInLeft {
  animation-duration: .5s;
  animation-name: leftSlideIn;
}

.slideOutLeft {
  animation-duration: .5s;
  animation-name: leftSlideOut;
}

@keyframes rightSlideIn {
  0% {
    margin-left: 100%;
  }
  100% {
    margin-left: 0%;
  }
}

@keyframes rightSlideOut {
  0% {
    margin-left: 0%;
  }
  100% {
    margin-left: -100%;
  }
}

@keyframes leftSlideIn {
  0% {
    margin-left: -100%;
  }
  100% {
    margin-left: 0%;
  }
}

@keyframes leftSlideOut {
  0% {
    margin-left: 0%;
  }
  100% {
    margin-left: 100%;
  }
}
/* .slide-out-left {
  animation-duration: .5s;
  animation-name: leftSlideOut;
}

.slide-left {
  animation-duration: .5s;
  animation-name: rightSlideIn;
} */

@media only screen and (max-width: 1200px) {
  .photo-ul {
    width: 992px;
  }
  .photo-list-item img {
    width: 206px;
    height: auto;
  }
}

@media only screen and (max-width: 992px) {
  .photo-ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 544px;
  }
  .photo-list-item img {
    width: 257px;
    height: auto;
  }

  .photo-ul li:first-child {
    margin-left: 15px;
  }
}
