.photo-list-item {
  list-style: none;
  height: 325px;
  margin-left: 15px;
}

.photo-list-item img {
  height: 325px;
  width: 257px;
  object-fit: cover;
}

.photo-ul {
  -webkit-padding-start: 0px;
  display: flex;
  justify-content: space-between;
  width: 1218px;
  /*
  position: relative;
  overflow: hidden; */
}

.photo-ul li:first-child {
  margin-left: 0px;
}

@keyframes rightSlideIn {
  0% {
    margin-left: 100%;
  }
  100% {
    margin-left: 0%;
  }
}

/* @keyframes rightSlideOut {
  0% {
    margin-right: 0%;
  }
  100% {
    margin-right: 100%;
  }
} */

@keyframes leftSlideIn {
  0% {
    margin-right: 100%;
  }
  100% {
    left: 0%;
  }
}

@keyframes leftSlideOut {
  0% {
    margin-left: 100%;
  }
  100% {
    margin-left: 0%;
  }
}
.slide-out-left {
  animation-duration: .5s;
  animation-name: leftSlideOut;
}

.slide-left {
  animation-duration: .5s;
  animation-name: rightSlideIn;
}
